<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cn.edu.gdmec.t00385.lightsensor"
    version="0.0.1">

    <name>Light Sensor</name>
    <description>Light Sensor Plugin for Android</description>
    <license>Apache 2.0</license>
	<author>York Cui</author>
    <keywords>cordova,Light,sensor</keywords>
    <repo>https://github.com/gdmec/lightsensor.git</repo>

    <js-module src="www/LightSensorError.js" name="LightSensorError">
        <clobbers target="LightSenorError" />
    </js-module>

    <js-module src="www/LightSensorLumen.js" name="LightSensorLumen">
        <clobbers target="LightSensorLumen" />
    </js-module>

    <js-module src="www/LightSensor.js" name="LightSensor">
        <clobbers target="navigator.LightSensor" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
	        <feature name="LightSensor">
	            <param name="android-package" value="cn.edu.gdmec.t00385.lightsensor.LightSensorListener"/>
	        </feature>
	    </config-file>

	    <source-file src="src/android/LightSensorListener.java" target-dir="src/cn/edu/gdmec/t00385/lightsensor" />
    </platform>

</plugin>
